<h1>Codes</h1>
<% @codes.each do |code| %>
      <tr>
        <td><strong>Title:</strong> <%= code.title %></td></br>
        <td><strong>Language:</strong> <%= code.language.title %></td></br>
        <td><strong>Content:</strong> <%= code.content %></td></br>
        <td><%= link_to 'Show', code %></td>
        <td><%= link_to 'Edit', edit_code_path(code) %></td>
        <td><%= link_to 'Destroy', code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
<% end %>
</br>
<%= link_to 'Back', codes_path %>
<%= link_to 'New Code', new_code_path %>