<p id="notice"><%= notice %></p>
<div class="header"><h1><%= @code.title %></h1></div>
<div class="post">
<p>
  <strong>Language:</strong>
  <%= @code.language.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @code.content %>
</p>
</div>
<%= link_to 'Edit', edit_code_path(@code) %> |
<%= link_to 'Back', codes_path %>
